<div class="chip">
  <div class="chip__elements">
      <div class="chip-element" *ngFor="let chip of selectedChips; index as i">
          <p>{{chip.name}}</p>
          <button class="chip-element__remove" (click)="removeChip(chip, i)">x</button>
      </div>
      <input (keydown)="onKeyDown($event.keyCode)"
             [(ngModel)]="term"
             placeholder="Type a programing language..." />
  </div>
  <div class="chip__autocomplete" *ngIf="term && filteredChips.length">
    <div *ngFor="let chip of filteredChips; index as i"
        (mouseenter) ="selectedIndex = i"
        [class.selected]="i === selectedIndex"
        (click)="addChip(chip)"
        class="chip-result" >
        {{chip.name}}
    </div>
  </div>
</div>
